.sideBar {
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
}

#sideBar {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.sideBar__shown .sideBar__overlay{
  opacity: 1;
  visibility: visible;
}
.sideBar__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  // opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  // visibility: hidden;
  width: 100vw;
  z-index: 10000;
}
