.grid-15 {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  position: relative;
  margin-left: -0.375rem;
  margin-right: -0.375rem;
  & > [class*="col-"] {
    flex: 0 0 auto;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 6px;
  }
}
h2 {
  font-size: 28px;
  line-height: 130%;
  @media only screen and (min-width: 600px) {
    font-size: 32px;
    line-height: 120%;
  }
}

.main-section {
  margin: 0 auto 48px;
}

@media only screen and (max-width: 1159px) {
  .hide-lg {
    display: none;
  }
}

@media only screen and (max-width: 899px) {
  .hide-md {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .show-sm {
    display: none;
  }
  .grid-15 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    & > [class*="col-"] {
      padding: 0 8px;
    }
    & > .col-5-sm {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
    }
  }
  .main-section {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 599px) {
  .hide-sm {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .show-md {
    display: none;
  }
  .grid-15 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    & > [class*="col-"] {
      padding: 0 8px;
    }
    & > .col-3-md {
      flex-basis: 20%;
      max-width: 20%;
    }
    & > .col-7-md {
      flex-basis: 46.66667%;
      max-width: 46.66667%;
    }
    & > .col-8-md {
      flex-basis: 53.33333%;
      max-width: 53.33333%;
    }
  }
  .main-section {
    margin-bottom: 6rem;
  }
}
@media only screen and (min-width: 1160px) {
  .hide-xl {
    display: none;
  }
  .grid-15 {
    margin-left: -1rem;
    margin-right: -1rem;
    & > [class*="col-"] {
      padding: 0 16px;
    }
  }
}
