.header {
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  width: 100%;
}
.homeHeader {
  position: fixed;
  top: 0;
  z-index: 999;
}
.header__transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  .header__wrapper {
    border-bottom: none;
    .header__logo svg g:first-of-type {
      fill: #fff;
    }
    .header__searchbar {
      opacity: 0;
    }
  }
}
.header__wrapper {
  border-bottom: 1px solid #e4e5e7;
  width: 100%;
  transition: border 0.5s ease;
}
.header__row {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  &.max-width-container {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 1160px) {
  .header__row {
    grid-template-columns: auto 1fr auto;
  }
}
@media only screen and (min-width: 900px) {
}
@media only screen and (min-width: 600px) {
  .header__row {
    &.max-width-container {
      padding-top: 0;
      padding-bottom: 0;
    }
    height: 80px;
  }
  .header__logo {
    height: auto;
    align-self: auto;
    width: 89px;
    min-width: 121px;
    margin: 0 0 4px;
  }
}
.view-sm {
  .header__row {
    display: flex;
    justify-content: space-between;
    .header__nav {
      justify-content: flex-end;
    }
  }
}
