html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #1dbf73;
}

a {
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
button {
  background: none;
  border: 0;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404145;
  font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  list-style-image: none;
}
input {
  background-color: #fff;
  border: 1px solid #c5c6c9;
  color: #404145;
  font: inherit;
  padding: 8px 12px;
  resize: none;
  transition: 0.15s ease-in-out;
  width: 100%;
  font-size: 1rem;
}
input::placeholder {
  color: #95979d;
  font-size: 1rem;
}

body {
  margin: 0;
  font: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
